<template>
  <div class="about">
    <section class="main-content columns">
      <div class="container column is-12">
        <div class="section">
          <h6 class="title is-size-6">
            PENTAHAK ONLINE THAILAND รีวิวสินค้าคุณภาพของคนไทย
          </h6>
          <p>
            Pentahak เว็บไชต์สำหรับนักช้อปปิ้งออนไลน์
            ผู้ช่วยในการคัดกรอกสินค้าคุณภาพ และน่าเชื่อถือ
            เรามีความมั่นใจการในการกรองสินค้าที่ดีด้วย AI
            เนื่องจากปัจจุบันมีการแข่งขันด้านการซื้อขายสินค้าเป็นจำนวนมากในอินเตอร์เน็ต
            เราไม่อาจรู้ได้เลยว่าสินค้านั้นๆ มีความปลอดภัยจริงหรือไม่
            และไม่รู้เลยว่าเราจะโดนโกงจากทางผู้ซื้อหรือเปล่า
            จึงทำให้เราพัฒนาเว็บไชต์ Pentahak
            ขึ้นมาเป็นเว็บกลางในการตรวจสอบคุณภาพร้านค้าหรือพ่อค้าออนไลน์
            โดยเราจะนำสินค้าเหล่านั้นมารีวิว
            เพื่อเพิ่มทางเลือกแก่ผู้ที่กำลังจะซื้อสินค้าชิ้นนั้น
            โดยสินค้าจะมีทั้งในประเทศและนอกประเทศ
            ไม่มีค่าใช้จ่ายและฟรีทุกๆฟีเจอร์ที่ใช้งาน
          </p>
          <!-- <div class="contact has-center"></div> -->
          <div class="bottom">
            <div class="columns">
              <div class="column">
                © {{ year }} Pentahak. All Rights Reserved
              </div>
              <div
                class="column has-text-right"
                v-html="
                  `<span>ติดต่อลงโฆษณา : pentahakthailand@gmail.com</span>`
                "
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  computed: {
    year() {
      return new Date().getFullYear()
    },
  },
}
</script>
