<template>
  <div class="column is-2">
    <div class="card">
      <nuxt-link :to="`r/${data.slug}`">
        <div class="card-image">
          <figure class="image is-1by1">
            <img
              src="https://cf.shopee.co.th/file/8e5adfcb4eb11fda8c431dd738d9b070_tn"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            {{ data.title }}
          </div>
        </div>
        <div class="view-review">อ่านรีวิว</div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      required: true,
      default: () => {},
    },
  },
  mounted() {},
}
</script>
