<template>
  <div class="category">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          หมวดหมู่สินค้า
        </p>
      </header>
      <div class="card-content">
        <ul class="cate-list">
          <li v-for="item in items" :key="item.id">
            <nuxt-link :to="item.url">
              <img :src="`/icon-category/${item.id}.png?v=1.0.0`" />
              <p>{{ item.name }}</p>
            </nuxt-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { categoryItems } from '~/assets/constants/categorty'

export default {
  data() {
    return {}
  },
  computed: {
    items() {
      return categoryItems
    },
  },
}
</script>
