<template>
  <div>
    <h2 class="title is-size-4">สินค้าแนะนำ</h2>
    <div class="columns is-multiline product-list">
      <card v-for="item in items" :key="item.id" :data="item" />
    </div>
    <div v-show="items.length >= 12" class="has-text-centered">
      <div class="load-more">
        <b-button expanded @click="onMore">ดูเพิ่มเติม</b-button>
      </div>
    </div>
  </div>
</template>

<script>
import Card from '~/components/Card'

export default {
  components: {
    Card,
  },
  props: {
    items: {
      type: Array,
      required: true,
      default: () => [],
    },
  },
  methods: {
    onMore() {
      return this.$router.push('/s?sort=popular')
    },
  },
}
</script>
