@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,500;1,300&display=swap');

html,
body {
  background-color: #f8f8f8;
}

body {
  // font-family: 'Prompt', sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.title {
  font-family: 'Prompt', sans-serif;
}

.section {
  padding: 1.6rem 1.5rem;
}

.navbar-sky {
  background: #af2a00;
  height: 32px;

  .container {
    height: 100%;

    .content {
      font-size: 12px;
      padding: 0 2rem;
      display: flex;
      align-items: center;
      height: 100%;
      color: #ffffff;
    }
  }
}

.navbar-top {
  background: #f53d2d;
  background: -webkit-gradient(linear, left top, left bottom, from(#f53d2d), to(#f63));
  background: linear-gradient(-180deg, #f53d2d, #f63);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.4, 0, .2, 1);
  transition: -webkit-transform .2s cubic-bezier(.4, 0, .2, 1);
  transition: transform .2s cubic-bezier(.4, 0, .2, 1);
  transition: transform .2s cubic-bezier(.4, 0, .2, 1), -webkit-transform .2s cubic-bezier(.4, 0, .2, 1);

  .navbar {
    background-color: transparent;



    .input-search {
      position: relative;
      top: 2px;
      left: 2rem;

      input {
        min-width: 450px;
        font-family: 'Prompt', sans-serif;
        font-weight: 300;
        border: 0;
        border-radius: 0;
      }
    }

    .navbar-brand {
      a {
        padding: 0 16px;
        padding-top: 6px;

        img {
          min-width: 105px;
          height: 40px !important;
          max-height: auto;
        }
      }
    }

    .navbar-menu {
      a {
        color: #ffffff;
        font-weight: 300;

        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
        }
      }
    }
  }
}


.card {
  background-color: white;
  box-shadow: 0 2px 3px rgba(60, 60, 60, 0.1), 0 0 0 1px rgba(60, 60, 60, 0.1);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}

.cate-list {
  li {
    float: left;
    width: 122px;
    text-align: center;
    vertical-align: top;
    padding: 5px;

    a {
      color: #666666;

      &:hover {
        color: #f53d2d;
      }

      img {
        max-width: 83px;
      }

      p {
        text-align: center;
        font-size: 14px;
        min-height: 44px;
        overflow: hidden;
        font-weight: 400;
      }
    }
  }

  &::after {
    display: block;
    clear: both;
    content: ' ';
  }
}

.product-list {
  .card {
    a {
      color: #666666;

      .card-content {
        padding: .8rem;
        height: 70px;
        font-size: 14px;
      }

      .view-review {
        visibility: hidden;
        display: block;
        width: 100%;
        position: absolute;
        background-color: #f53d2d;
        text-align: center;
        border: 1px solid #f53d2d;
        color: #ffffff;
        padding: 6px;
        z-index: 10;
      }
    }

    &:hover {
      a {
        .view-review {
          visibility: visible;
        }
      }
    }
  }
}

.load-more {
  width: 32%;
  margin: auto;
  margin-top: 4.5rem;
  margin-bottom: 4rem;
}

.about {
  border-top: 3px solid #f53d2d;
  background-color: #ffffff;
  padding: 3rem 0;

  p {
    font-size: 14px;
    text-align: justify;
  }

  .contact {
    margin-top: 2rem;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
  }

  .bottom {
    font-size: 14px;
    margin-top: 3rem;
  }
}

.min100 {
  min-height: 70vh;
}
