<template>
  <div>
    <!-- Mini header -->
    <div class="navbar-sky">
      <div class="container">
        <div class="content">
          เว็บไชต์รีวิวสินค้าคุณภาพ เพิ่มความมั่นใจในการซื้อสินค้า
          คัดสรรร้านดังในเว็บไชต์ยอดนิยม ไม่โดนโกงและน่าเชื่อถือ
        </div>
      </div>
    </div>
    <!-- Header -->
    <div class="navbar-top">
      <div class="container">
        <b-navbar class="is-spaced">
          <template slot="brand">
            <a href="/">
              <img
                src="~/assets/logo-pentahak.png"
                alt="Pentahak เว็บไชต์รีวิวสินค้าคุณภาพเพื่อคนไทย"
              />
            </a>
          </template>
          <template slot="start">
            <form @submit.prevent="onSubmit">
              <b-field>
                <b-input
                  v-model="q"
                  placeholder="กำลังมองหาสินค้าอะไรอยู่ ?"
                  type="search"
                  icon="magnify"
                  icon-clickable
                  class="input-search"
                >
                </b-input>
                <input type="submit" class="is-hidden" />
              </b-field>
            </form>
          </template>
          <template slot="end">
            <a class="navbar-item" href="/">
              หน้าหลัก
            </a>
            <nuxt-link class="navbar-item" to="/s?sort=popular">
              สินค้าแนะนำ
            </nuxt-link>
            <nuxt-link class="navbar-item" to="/contact">
              ติดต่อเรา
            </nuxt-link>
          </template>
        </b-navbar>
      </div>
    </div>
    <!-- Content -->
    <nuxt />
    <about />
  </div>
</template>

<script>
import About from '~/components/About'
import '~/assets/global.scss'

export default {
  components: { About },
  data() {
    return {
      q: '',
      items: [],
    }
  },
  methods: {
    onSubmit() {
      return this.$router.push(`/s?q=${this.q}`)
    },
  },
}
</script>
