<template>
  <section class="main-content columns" :style="`min-height:${height}px;`">
    <div class="container column is-12">
      <section class="section">
        <h2 class="title is-size-4">ติดต่อเรา</h2>
        <p>
          สนใจติดต่อลงโฆษณารีวิวสินค้าของคุณ กรุณาติดต่อได้ที่ Email :
          <a href="mailto:pentahakthailand@gmail.com"
            >pentahakthailand@gmail.com</a
          >
        </p>
      </section>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      height: 0,
    }
  },
  mounted() {
    // eslint-disable-next-line nuxt/no-env-in-hooks
    if (process.client && window.innerHeight) {
      this.height = window.innerHeight - 439
    }
  },
}
</script>
