<template>
  <div>
    <section class="main-content columns">
      <div class="container column is-12">
        <section class="section">
          <category />
        </section>
        <section class="section">
          <sugguest-product :items="sp" />
        </section>
      </div>
    </section>
  </div>
</template>

<script>
import Category from '~/components/Category'
import SugguestProduct from '~/components/SugguestProduct'

export default {
  name: 'HomePage',
  components: { Category, SugguestProduct },
  data() {
    return {
      sp: [
        {
          id: 1,
          title: 'ทดสอบ',
          slug: 'ทดสอบ',
        },
        {
          id: 2,
          title: 'ทดสอบ',
          slug: 'ทดสอบ',
        },
        {
          id: 3,
          title: 'กางเกงขาสั้นลําลองผ้าชีฟองพิมพ์ลาย',
          slug: 'กางเกงขาสั้นลําลองผ้าชีฟองพิมพ์ลาย',
        },
        {
          id: 4,
          title: 'ทดสอบ',
          slug: 'ทดสอบ',
        },
        {
          id: 5,
          title: 'กางเกงขาสั้นลําลองผ้าชีฟองพิมพ์ลาย',
          slug: 'กางเกงขาสั้นลําลองผ้าชีฟองพิมพ์ลาย',
        },
        {
          id: 6,
          title: 'ทดสอบ',
          slug: 'ทดสอบ',
        },
        {
          id: 7,
          title: 'กางเกงขาสั้นลําลองผ้าชีฟองพิมพ์ลาย',
          slug: 'กางเกงขาสั้นลําลองผ้าชีฟองพิมพ์ลาย',
        },
        {
          id: 8,
          title: 'ทดสอบ',
          slug: 'ทดสอบ',
        },
        {
          id: 9,
          title: 'กางเกงขาสั้นลําลองผ้าชีฟองพิมพ์ลาย',
          slug: 'กางเกงขาสั้นลําลองผ้าชีฟองพิมพ์ลาย',
        },
        {
          id: 10,
          title: 'ทดสอบ',
          slug: 'ทดสอบ',
        },
        {
          id: 11,
          title: 'กางเกงขาสั้นลําลองผ้าชีฟองพิมพ์ลาย',
          slug: 'กางเกงขาสั้นลําลองผ้าชีฟองพิมพ์ลาย',
        },
        {
          id: 12,
          title: 'ทดสอบ',
          slug: 'ทดสอบ',
        },
      ],
    }
  },
  computed: {
    config() {
      return this.$myConfig()
    },
  },
  mounted() {
    // console.log()
  },
}
</script>
