<template>
  <section class="main-content columns" :style="`min-height:${height}px;`">
    <div class="container column is-12">
      <section class="section">
        Product page
      </section>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      height: 0,
    }
  },
  mounted() {
    // eslint-disable-next-line nuxt/no-env-in-hooks
    if (process.client && window.innerHeight) {
      this.height = window.innerHeight - 439
    }
  },
}
</script>
